@font-face {
    font-family: "Domine-Bold";
    src: url('../font/Domine-Bold.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Domine-Bold';

}

header{
    width: 100%;
    overflow: hidden;
    background-color: #A73898;
}


.img{
    float: left;
    padding-top: 37px;
    padding-bottom: 30px;
    padding-left: 58px;
}

.baba{
    float: left;
    color: white;
    padding-top: 44px;
    padding-bottom: 30px;
}
.reg{
    font-size: 24px;
    color: white;
    float: right;
    padding-top: 51px;
    padding-bottom: 30px;
    padding-right: 32px;
    font-weight: 700;

}
a{
    color: white;
}
a:link{
    text-decoration: none;
}
main{
    overflow: hidden;
    background: #E9E9E9;
}

.nav{
    padding: 15px 25px 15px 40px;
    background-color: #dbdbdb;
    margin: 0 auto;
    

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

li{
    display: inline;
}
.active{
    display: block;
    background: #C996C2;
    width: 146px;
    height: 51px;
    border-radius: 10px;
    text-align: center;
}
ul a{
    font-size: 18px;
    line-height: 45px;
}
.hat{
    display: flex;
    background-image:  url(../images/hat.png);
    height: 284px;
    width:  100%;
}

.reg_btn{
    margin: auto;
    margin-bottom : 80px;
    background: #A73898;
    width: 624px;
    height: 70px;
    border-radius: 60px;
    display: block;
    font-size: 26px;

}

.btn{
    margin-left:180px ;
    line-height: 2.5;
}

.main-info{
    background-color: #C996C2;
    width: auto ;
    height: 594px;
    margin-left: 15%;
    margin-top:  82px;
    margin-right: 15%;
    border-radius: 35px;
}
.right_img{
    padding-right:  55px;
}
.left_img{
    padding-left:  55px;
}

h2{
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.hr{
    background-color: white;
    width:auto;
    height: 2px;
    margin-left: 75px;
    margin-right: 75px;
}


.main_reviews{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
}
.reviews{
    display: flex;
    justify-content: center;
    margin-bottom:  83px;
    }
.review{
    float: left;
    background-color: white;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 35px;
    width: 300px;
    height: 300px;
    margin-left:45px;
    margin-right:45px;
    margin-top: 53px;
}
.review_name_age{
    display: flex;
    font-size: 22px;
    padding: 25px 0 0 25px;
    color: #A73898;

}
.review_txt{
    display:flex;
    font-size: 18px;
    line-height: 1.3;
    padding: 20px 5px 0 22px;
    color: #A73898;
    letter-spacing: 0.03em;

}
.arrow{
   margin-top: 150px;
}

footer{
    overflow:hidden;
    color:  white;
    background-color: #A73898;
    width: 100%;
    height: 68px;
}

.copyrite{
    float:left;
    padding: 24px 0 31px 70px;
}
.contacts{
    float: right;
    padding: 15px 60px 13px 0;

}